<app-navbar></app-navbar>

<div class="container">

  <app-add-user-form (userEmitter)="getUserData()"></app-add-user-form>

  <hr/>

  <label id="searchEngine">Search element: </label>
  <input for="searchEngine" (input)="onInputChange($event)">

  <hr/>

  <p *ngIf="loading">Loading...</p>

  <app-user *ngFor="let user of users" [user]="user" (userEmitter)="getUserData()"></app-user>

</div>
