<p>Add new user:</p>

<form (ngSubmit)="onSubmit()">
  <label id="firstName">firstName:</label><br/>
  <input [(ngModel)]="form.firstName" for="firstName" name="firstName" /><br/>
  <label id="lastName">lastName:</label><br/>
  <input [(ngModel)]="form.lastName" for="lastName" name="lastName" /><br/>
  <label id="email">email:</label><br/>
  <input [(ngModel)]="form.email" for="email" name="email" /> <br/>
  <label id="role">role:</label><br/>
  <input [(ngModel)]="form.role" for="role" name="role" /> <br/>
  <label id="password">password:</label><br/>
  <input [(ngModel)]="form.password" for="password" name="password" />
  <br/><br/>
  <button class="btn btn-success">send</button>
</form>
