<!--[class.selected]="showDetails"-->
<!--[ngClass]="{selected: showDetails}"-->

<div *ngIf="user">

  <button class="btn btn-danger btn-sm" (click)="removeUser(user)">x</button>

  <div [style]="{backgroundColor: insideElement ? 'azure' : 'white'}"
       [class]="{selected: showDetails}"
       (mouseenter)="moveEvent(true)"
       (mouseleave)="moveEvent(false)"
       (click)="showDetailsFn(true)"
       (dblclick)="showDetailsFn(false)"
       >
    <p>Firstname: {{user.firstName | uppercase}}</p>
    <p>Lastname: {{user.lastName | transformCase : 'uppercase' }}</p>
    <div *ngIf="showDetails">
      <p>Email: {{user.email | lowercase}}</p>
      <p>Role: {{user.role}}</p>
      <p>{{ 'damian damian damian' | titlecase }}</p>
      <p>{{ date | date : 'medium' }}</p>
      <p>{{ 10.99888 | currency }}</p>
      <p>{{ 10.99888 | number:'1.2-4' }}</p>

      <app-add-user-form (userEmitter)="userEmitter.emit()" [user]="user"></app-add-user-form>
    </div>
    <hr/>
  </div>

</div>
